@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.chat{
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    letter-spacing: 0.5px;
    height: 100vh;
}

.chat .chat-container{
    width: auto;
    height: auto; 
    display: flex;
  
}
.chat-container .user-bar {
    border: 1px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: flex;
    background-color: #efefef;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.user-bar #back-icon{
  margin-top: 23px;
  margin-left: 15px;
  position: absolute;
  display: block;
  width: 10px;
  justify-content: center;
  align-items: center;
}
.user-bar .avatar{
   margin-left: 35px;
   margin-top: 10px;
   padding-left: 6px;
   width: 70px;
   height: 70px;
   float: left;
}
.user-bar img {
    width: 100%;
    height: 88%;
    border-radius: 50%;
    box-shadow: 0 1px 0 rgba(255,255,255,0.1);
    display: block;
}
.user-bar .name {
    width: 150px;
    float: left;
    font-weight: 3rem;
    margin-top: 15px;
    padding-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 
}
.user-bar .status{
  display: block;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: 400rem;
  color: green;
  padding-left: 9px;
}
#switch-mode{
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
}
#details{
  padding-top: 30px;
  padding-left: 10px;
  margin-right: 25px;
}
 .icons{
  display: flex;
  justify-content: space-between;
}
.spacer{
  flex-grow: 1;
  /* push the icons to the rightmost position */
}
.chat-page {
    padding: 0 0 50px 0;
    
}
.msg-inbox {
    border: 1px solid #ccc;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
  z-index: 0;
}

.chats {
    padding: 40px 15px 0 25px;
}

.msg-page {
    max-height: 500px;
    overflow-y: auto;
}

.received-chats {
    overflow: hidden;
    margin-left: 4px;
}  
.received-chats-img {
    display: inline-block;
    width: 100px;
    float: left;
}

.received-msg-inbox {
    float: left;
    width: 56%;
    margin-top: 2px;
}
.received-msg-inbox p{
      box-sizing: border-box;
			padding: 12px 10px 5px 5px;
			padding: 1rem;
			background-color: #fff;
			border-radius: 1.125rem 1.125rem 1.125rem 0rem;
			width: fit-content;
			box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}
p {
  overflow-wrap: break-word;
}

.time {
    color: #777;
    display: block;
    font-size: 12px;
    margin: 0px 12px 0;
    padding-top: 0px;
    font-weight: 0.2rem;
}
.outgoing-chats {
    overflow: hidden;
    margin-right: 4px;
}

.outgoing-chats-img {
    display: inline-block;
    width: 50px;
    float: right;
    margin-right: 1rem;
}
.outgoing-msg-inbox {
    display: flex;
    flex-direction: column;
    float: right;
    margin-top: 2px;
    margin-right: 30px;
 }
.outgoing-msg-inbox p{
  align-self: flex-end;
  /* Align messages to the right */
}
.outgoing-msg-inbox p {
    background-color: #f26b8a;
    box-sizing: border-box;
		padding: 12px 10px 5px 5px;
		width: fit-content;
		border-radius: 1.125rem 1.125rem 0rem 1.125rem;
		box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
		padding: 1rem;
}

 .msg-bottom {
        border-top: 1px solid #ccc;
        border-bottom: 0.5px solid #ccc;
        position: relative;
        height: 20%;
        background-color: rgb(239 239 239);
    }
    
  .input-group {
        margin-top: 15px;
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 15px;
        outline: none !important;
        border-radius: 20px;
        width: 85%;
        position: relative;
        display: flex;
        align-items: stretch;
    }
    
    .input-group>.form-control {
        position: relative;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }
  .input-group #icons{
    float: left;
    padding: 6px;
    padding-right: 10px;
    justify-content: center;
    align-items: center;
  }
 .form-control {
        border-radius: 20px !important;
        display: block;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
    
.input-group-text {
        background: transparent !important;
        display: flex;
        align-items: center;
        padding: 0.375rem 0.75rem;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: b;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        background-color: #e9ecef;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-weight: bold !important;
        cursor: pointer;
    }
    
  input:focus {
        outline: none;
        box-shadow: none !important;
    }

#send-icon{
  padding-left: 16px;
  padding-right: 30px;
  padding-top: 6px;
  float: right;
}

@media only screen and (max-device-width: 850px) {
    *,
    .time {
        font-size: 18px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 28px;
    }
    .outgoing-msg-box p {
        font-size: 28px;
    }
    .outgoing-chats{
      padding-top: 25px;
    }
}

@media only screen and (max-device-width: 450px) {
    *,
    .time {
        font-size: 18px;
    }
    img {
        width: 65px;
    }
    .msg-header {
        height: 5%;
    }
    .msg-page {
        max-height: none;
    }
    .received-msg-inbox p {
        font-size: 18px;
    }
    .outgoing-chats-msg p {
        font-size: 18px;
    }
    .outgoing-chats{
      padding-top: 25px;
      padding-bottom: 30px;
    }
}

